services:
  - type: web
    name: episd-backend
    env: node
    region: oregon
    plan: free
    buildCommand: npm install
    startCommand: node server.js
    envVars:
      - key: NODE_ENV
        value: production
      - key: OPENAI_API_KEY
        sync: false
      - key: BACKEND_URL
        value: https://episd-backend.onrender.com
      - key: FRONTEND_URL
        value: https://freeandreduced-ac6d8.web.app

